<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
    <include resource="org/springframework/boot/logging/logback/base.xml"/>  
    <!--
    <logger name="com.didispace.controller" level="DEBUG" additivity="false">  
        <appender-ref ref="CONSOLE"/>  
        <appender-ref ref="FILE"/>  
    </logger>
    <logger name="org.springframework.boot" level="DEBUG"/>
    -->
    <logger name="com.zhousuhang.demo.springboot.controller" level="DEBUG"/> 
    <logger name="com.zhousuhang.demo.springboot.domain" level="DEBUG"/> 
 </configuration>  